@font-face {
  font-family: 'Pixter Granular';
  src: url('~/assets/fonts/Pixter-Granular.woff');
}

@font-face {
  font-family: 'Arges';
  src: url('~/assets/fonts/ArgesNormal-Heavy.woff');
}

@font-face {
  font-family: 'BT Brik';
  src: url('~/assets/fonts/BT_Brik_XL.ttf');
}